header, aside, main, footer {
   
    background: white;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
    

    background-image: url("/public/backgrounds/about-background.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    animation: backgroundScroll 20s linear infinite;

    transform: rotate (-5deg);
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1000px 0;
    }
}

.a-container {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
}

header { grid-row: 1 / 2 ;
    grid-column: 1 / 4 ;
    text-align: center;}

aside {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 10px;
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        }
}

main {grid-row: 2 / 3;
    grid-column: 2 / 4;}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;}