@font-face {
    font-family: "Momo";
    src: url(Momos-Regular.otf);
}

@font-face {
    font-family: "Maru";
    src: url(Natsuzemi\ Maru\ Gothic\ Black.ttf);
}

@font-face {
    font-family: "Daydream" ;
    src: url(Daydream\ DEMO.otf);
}

@font-face {
    font-family: "Basiic";
    src: url(basiic.ttf)
}