.container{
    display: flex;
}

.back-button {
    max-width: 150px;
    margin-left: 30px;
    margin-top: 30px;
    position: fixed;
    top: 0;

    img:hover {filter: drop-shadow(8px 8px 8px rgb(82, 172, 225))}

    a[data-title]:hover:after {
        font-family: Basiic;
        content: attr(data-title);
        padding: 4px 8px;
        color: #333;
        position: absolute;
        left: 150px;
        top: 100%;
        white-space: nowrap;
        z-index: 50px;
        background-color: white;
        }

        
    
}

.page-left{
    flex: 1;
    width: 500px;
    height: 500px;

    img{
        max-width: 600px;
        justify-content: center;
        margin-top: 230px;
        margin-left: 150px;
    }
}

.page-right{
    flex: 1;
    width: 920px;
    height: 500px;
    padding-top: 100px;

    button{
        background-color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: none;
        padding: 12px 28px;

        text-align: center;
        font-size: 20px;
        font-family: 'Maru';
        color:rgb(31, 28, 29);
        
    }

    button:hover{
        color: #22b0db;
        font-size: 23px;
        transition: 0.3s;
       
    }

    main {
        background: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        width: 920px;
    }
}

/* MOVIE */
.movie-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* SERIES */
#series{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.series-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

[data-tab-content]{
    display: none !important;
}

[data-tab-content].active{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 50px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;

  font-family: 'Maru';
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

.tab.active {
  color: #22b0db;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

.s-poster{
    
    margin: 5px;
    border: 1px solid #ccc;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;


    img {
        width: 130px ;
        height: 190px;
    }

    h3{
        text-align: center;
        font-family: 'Quicksandbold';
    }

    p{
        font-family: 'Quicksand';
        font-size: small;
        padding-left: 5px;
        overflow-y: auto;
        scrollbar-gutter: stable;
        
    }
}

.s-poster:hover{
    border: 1px solid #22b0db;
    transition: 0.3s;
}

.s-content {
  float: left;
  width: 50%;
}

/* YOUTUBE */

#Youtube{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.yt-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.yt-video{
    margin: 5px;
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 20px;

    transition: 0.3s;

    img {
        width: 250px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .yt-desc{
        text-align: center;
        font-family: 'Quicksand';
    }
}


.yt-video:hover{
    border: 1px solid #22b0db;
    transform: scale(1.05)}

/* CREATORS */
.c-poster{
    
    margin: 5px;
    border: 1px solid #ccc;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        
    }

    h2{
        text-align: center;
        font-family: 'Quicksandbold';
        margin-left: 10px;
        text-align: left;
    }

    p{
        font-family: 'Quicksand';
        font-size: small;
        padding-left: 5px;
        margin: 0;
        overflow-y: auto;
        max-height: 50px;
        
    }
}

.c-poster:hover{
    border: 1px solid #22b0db;
    transition: 0.3s;
}

.c-content {
  float: left;
  width: 50%;
}

.c-desc{
    grid-column: span 2;
    
}